        body {
            background-color: #f8f9fa;
            background: url('/static/yellow-gradient-piche-ka-background-full-hd.-scaled.jpg')no-repeat center center/cover;
            height: 100vh;
        }
        
        .jumbotron {
            background: white;
            color: black;
            padding: 2rem 1rem;
            margin-bottom: 2rem;
            border-radius: .3rem;
            font-style: bold;
            border-radius: .3rem;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-color: black;
            border-width: .6rem;
        }
        
        .form-label {
            font-weight: bold;
        }
        
        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
            transition: background-color 0.3s, border-color 0.3s;
        }
        
        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #004085;
        }
        
        .navbar {
            margin-bottom: 20px;
        }
        
        .navbar-dark .navbar-nav .nav-link {
            color: #fff;
            font-weight: bold;
        }
        
        .navbar-dark .navbar-nav .nav-link:hover {
            color: rgba(255, 255, 255, .75);
        }
        
        .alert {
            margin-top: 20px;
        }
        
        .container {
            max-width: 600px;
            margin: auto;
            padding: 20px;
        }