{% extends "base.html" %} {% block title %}Convert Image{% endblock %} {% block content %}
<h2>Convert Image</h2>
<form method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="file">Choose an image file:</label>
        <input type="file" name="file" id="file" class="form-control-file">
    </div>
    <div class="form-group">
        <label for="format">Select format:</label>
        <select name="format" id="format" class="form-control">
                <option value="jpeg">JPEG</option>
                <option value="png">PNG</option>
                <option value="bmp">BMP</option>
            </select>
    </div>
    <button type="submit" class="btn btn-primary">Convert</button>
</form>
{% endblock %}